@font-face {
  font-family: 'Deadknight';
  src: url('../font/Deadknight.otf') format('opentype');
}

body {
  font-family: 'Deadknight', sans-serif;
  user-select: none;
}

h1, h2, h3, p{
  margin: 0;
  font-family: inherit;
}